In [1]:
import analphipy
import pandas as pd

In [2]:
data = pd.read_csv("../examples/data/params.csv")
data.head()

   n  m  temp  dens
0  4  2   0.5   0.1
1  4  2   0.5   0.2
2  4  2   0.5   0.5
3  4  2   0.5   0.8
4  4  2   1.0   0.1

In [3]:
p = analphipy.potential.LennardJonesNM(n=10, m=4)
nf = p.to_nf()

nf.sig(beta=1 / 0.5)

1.0517727725050474

In [4]:
def calculate_effective_density(n, m, temp, dens):
    p = analphipy.potential.LennardJonesNM(n=n, m=m)
    nf = p.to_nf()

    sig = nf.sig(beta=1 / temp)

    return dens * sig**3

In [5]:
dens_eff = []
for _, g in data.iterrows():
    dens_eff.append(calculate_effective_density(n=g.n, m=g.m, temp=g.temp, dens=g.dens))

data_eff = data.assign(dens_eff=dens_eff)

In [6]:
data_eff

      n  m  temp  dens  dens_eff
0     4  2   0.5   0.1  0.142471
1     4  2   0.5   0.2  0.284943
2     4  2   0.5   0.5  0.712356
3     4  2   0.5   0.8  1.139770
4     4  2   1.0   0.1  0.116650
..   .. ..   ...   ...       ...
155  18  9   2.0   0.8  0.780822
156  18  9   3.0   0.1  0.094133
157  18  9   3.0   0.2  0.188266
158  18  9   3.0   0.5  0.470664
159  18  9   3.0   0.8  0.753063

[160 rows x 5 columns]